.Happy__Birthday {
    font-family: 'Arial', sans-serif;
    color: #c2185b;
    font-size: 3.5em;
    font-weight: 700;
    text-shadow: 2px 2px 5px
    rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 100px;
}