.Happy__Birthday {
    font-family: 'Arial', sans-serif;
    color: #c2185b;
    font-size: 3.5em;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 100px;
}

.box__letter,
.boxMail {
    display: none;
}

.boxMail.active {
    display: flex;
}

.box__letter {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.letter__border {
    background: #fff;
    margin: auto;
    padding: 30px;
    max-width: 600px;
    border-radius: 20px;
}

.close {
    cursor: pointer;
}
